.heroSection {
    background-image: url(images/homebg2.jpg);
    height: 712px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 1.4;
  }
  .heroText {
    width: 600px;
    margin: 0 80px;
    color: white;
  }
  .heroText h3 {
    font-size: 70px;
  }
  .heroText p {
    font-size: 13px;
    margin: 10px 0;
    font-weight: 200;
  }
  .homeRating {
    display: flex;
    gap: 10px;
    margin: 40px 0;
    align-items: center;
  }
  .homeRating i {
    margin: 0px 4px;
    font-size: 20px;
  }
  .homeRating p {
    font-weight: 200;
    font-size: 20px;
  }
  
  .heroBtns button {
    margin: 0 10px;
    background-color: black;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
  }
  .heroBtns .offerBtn {
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
  }
  .heroBtns button i {
    margin: 0 7px;
  }
  