.header {
  display: flex;
  justify-content: space-around;
  padding: 8px 0px;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 3;
}
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo img {
  height: 50px;
}
.logo h1 {
  font-size: 20px;
  color: orangered;
  font-weight: 600;
}

.navbars {
  display: flex;
  gap: 20px;
}
.homeBar {
  display: flex;
  justify-content: center;
  gap: 7px;
  align-items: center;
  color: black;
  text-decoration: none;
  font-size: 12px;
}

.homeBar:active {
  color: orangered;
}
.homeBar h2 {
  font-weight: 400;
}
.navBtn {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.basketNav img {
  height: 35px;
  width: 37px;
  border-radius: 60px;
  border: 2px solid black;
}
.basketNav span {
  font-size: 12px;
  padding: 1px 6px;
  font-weight: 600;
  color: white;
  background-color: orangered;
  border-radius: 50px;
  position: relative;
  top: -24px;
  right: 1px;
}
.navBtn button {
  padding: 10px 25px;
  height: 40px;
  border-radius: 18px;
  border: none;
  background-color: orangered;
  color: white;
  font-size: 16px;
}
