 aside {
    background-color: white;
    height: 90vh;
    min-width: 290px;
    display: flex;
    flex-direction: column;
    padding: 120px 30px;
    gap: 20px;
    align-items: center;
 
  }
   aside button {
    width: 230px;
    height: 60px;
    border: none;
    border-radius: 10px;
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 0 20px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
  }
 aside img {
    height: 50px;
  }
  